<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    https://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    https://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="dog" class="cn.geekhall.pojo.Dog"/>
    <bean id="cat" class="cn.geekhall.pojo.Cat"/>
    <bean id="person" class="cn.geekhall.pojo.Person">
        <property name="cat" ref="cat"/>
        <property name="dog" ref="dog"/>
        <property name="name" value="King"/>
    </bean>

    <bean id="person2" class="cn.geekhall.pojo.Person" autowire="byName">
        <property name="name" value="Eric"/>
    </bean>

    <bean id="person3" class="cn.geekhall.pojo.Person" autowire="byType">
        <property name="name" value="Eric"/>
    </bean>
</beans>