<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    https://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    https://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop
    https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 自动装配需要这一行，否则注解@Autowired会报空指针异常。-->
    <context:annotation-config/>

    <bean id="userService" class="cn.geekhall.service.UserServiceImpl"/>
    <bean id="log" class="cn.geekhall.log.Log"/>
    <bean id="afterLog" class="cn.geekhall.log.AfterLog"/>

    <!--    方式三： 使用注解-->
    <bean id="diy" class="cn.geekhall.diy.AnnotationPointCut"/>
    <!--
    开启AOP注解支持
    proxy-target-class="false" 表示使用JDK实现，true表示使用cglib实现，默认为false。
    -->
    <aop:aspectj-autoproxy proxy-target-class="false"/>
    <!--    <aop:aspectj-autoproxy/>-->

</beans>